    $white: #FFFFFF;
    $black: #000000;
    $grey-950: #08070B;
    $grey-900: #14131B;
    $grey-850: #18171F;
    $grey-800: #24232C;
    $grey-700: #54535B;
    $grey-600: #817D92;
    $grey-200: #E6E5EA;
    $green-200: #A4FFAF;
    $yellow-300: #F8CD65;
    $orange-400: #FB7C58;
    $red-500: #F64A4A;
    $gradient-1: linear-gradient(to right, #14131B,#08070B);

    $spacing-100: 0.5rem;
    $spacing-200: 1rem;
    $spacing-300: 1.5rem;
    $spacing-400: 2rem;
    $spacing-700: 3.5rem;
    $spacing-1000: 5rem;
    $spacing-1300: 6.5rem;
    $spacing-1600: 8rem;
    $spacing-2000: 10rem;
    $spacing-2200: 11rem;
    $spacing-2300: 11.5rem;